.checkout{
    display: flex;
    max-width: 1500px;
    margin: auto;
    background-color: white;
  
}
.wrapper{
    margin-top: 50px;
}

.left_part>img{
    width: 100%;
   
}
.cart_heading{
    border-bottom: 1px solid grey;
    font-size:32px;
    font-weight: bold;
}

.cart_wrapper{
    margin: 2%;
    
}

.cart_wrapper>span{
    font-size: larger;
    color: grey

}



